# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# IDE (IntelliJ / PyCharm)
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Misc
*.sqlite3

